body {
  background-color: antiquewhite;
}

div {
  border: blue;
  height: 180px;
  margin: 10px;
  width: 200px;
  text-align: center;
  font-size: 3em;
}

.d1 {
  background-color: red;
}

.d2 {
  background-color: darkgreen;
  position: relative;
  left: 100px;
  bottom: 70px;
}

.d3 {
  background-color: blue;
  position: relative;
  left: 200px;
  bottom: 150px;
}

.d4 {
  background-color: yellow;
  position: relative;
  left: 290px;
  bottom: 240px;
}

main {
  border: solid 3px grey;
}/*# sourceMappingURL=style.css.map */